<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>修改数据Demo</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../assets/libs/layui/css/layui.css" media="all">
</head>

<body>

    <form class="layui-form" lay-filter="example" id="uploadForm11" enctype="multipart/form-data" method="post">

        <div class="layui-form-item" style="margin-top: 20px">
            <label class="layui-form-label">优惠卷编号:</label>
            <div class="layui-input-block" style="margin-right: 20px">
                <input type="text" name="couponId" readonly="true" autocomplete="off" placeholder="" id="couponId"
                    class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">商品编号</label>
            <div class="layui-input-block">
                <select name="goodsId" id='goodsId' lay-filter="goodsId"></select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">优惠卷数值:</label>
            <div class="layui-input-block" style="margin-right: 20px">
                <input type="text" name="couponMon" lay-verify="required" lay-reqtext="用户联系方式不能为空？
                " placeholder="" id="couponMon" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 20px">
            <label class="layui-form-label">优惠卷条件:</label>
            <div class="layui-input-block" style="margin-right: 20px">
                <input type="text" name="couponMin" autocomplete="off" placeholder="" id="couponMin"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">开始时间:</label>
            <div class="layui-input-block" style="margin-right: 20px">
                <input class="layui-input" id="startTime" name="startTime" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">结束时间:</label>
            <div class="layui-input-block" style="margin-right: 20px">
                <input class="layui-input" id="endTime" name="endTime" />
            </div>
        </div>

        <div class="layui-form-item" style="text-align: center">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" id="doSave" lay-submit="" lay-filter="demo1">修改</button>
                <button type="button" class="layui-btn layui-btn-primary">返回</button>
            </div>
        </div>
    </form>

    <script src="../../assets/libs/layui/layui.js" charset="utf-8"></script>
    <script src="../js/util.js" charset="utf-8"></script>
    <script>



        layui.config({
            base: '/module/'
        }).use(['jquery', 'layer', 'table', 'form', 'config', 'laydate', 'upload'], function () {
            var $ = layui.jquery;
            var layer = layui.layer;
            var form = layui.form;
            var upload = layui.upload;
            var config = layui.config;
            var laydate = layui.laydate;
            var categoryData;
            var req = GetRequest();
            var token = config.getToken();
            var no = req['editNo'];//获取请求的url参数editNo的值


            $.ajax({
                url: config.base_server_saler + 'GetGoodsListAll?salerId=' + token.userId,
                dataType: 'json',
                type: 'get',
                success: function (data) {
                    data = data.data;
                    data = data.map(item => {
                        return {
                            goodsId: item.goodsId,
                            goodsName: item.goodsName
                        }
                    })
                    categoryData = data;
                    $.each(data, function (index, item) {
                        $('#goodsId').append(new Option(item.goodsName, item.goodsId));
                    });
                    form.render("select");
                }
            })


            //获取当前编辑的数据
            if (no) {
                $.ajax({
                    url: config.base_server_saler + 'GetCouponById?editNo=' + no,
                    dataType: 'json',
                    type: 'get',
                    success: function (data) {
                        data = data.data;
                        if (!data.length) {
                            return;
                        }
                        $('#couponId').val(data[0].couponId);
                        $('#couponMon').val(data[0].couponMon);
                        $('#couponMin').val(data[0].couponMin);
                        laydate.render({
                            elem: '#startTime',
                            value: data[0].startTime
                            , type: 'date'
                            , trigger: 'click'
                        });
                        laydate.render({
                            elem: '#endTime',
                            value: data[0].endTime
                            , type: 'date'
                            , trigger: 'click'
                        });
                        var select = 'dd[lay-value=' + data[0].goodsId + ']';
                        $('#goodsId').siblings("div.layui-form-select").find('dl').find(select).click();
                        form.render();
                    }

                })
            }


            //保存用户数据
            form.on('submit(demo1)', function (info) {
                var data = form.val('example');
                var couponId = data.couponId;
                var couponMon = data.couponMon;
                var couponMin = data.couponMin;
                var startTime = data.startTime;
                var endTime = data.endTime;
                var goodsId = data.goodsId;
                let formData = new FormData();
                formData.append('couponId', couponId);
                formData.append('couponMon', couponMon);
                formData.append('couponMin', couponMin);
                formData.append('startTime', startTime);
                formData.append('endTime', endTime);
                formData.append('goodsId', goodsId);
                layer.load(2);

                $.ajax({
                    type: "POST",
                    url: config.base_server_saler + "UpdateCoupon",
                    data: formData,
                    async: false,
                    processData: false,   //  告诉jquery不要处理发送的数据
                    contentType: false,
                    success: function (data) {
                        console.log("修改返回")
                        if (data.code == 1) {
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引 
                            parent.layer.close(index); //再执行关闭 
                        }
                    }

                });


                // 自定义验证
                form.verify({
                    title: function (value) {
                        if (value.length < 5) {
                            return '标题至少得5个字符啊';
                        }
                    }
                    , pass: [
                        /^[\S]{6,12}$/
                        , '密码必须6到12位，且不能出现空格'
                    ]
                    , partition: function () {

                        var min = $("input[name='price_min']").val();
                        var max = $("input[name='price_max']").val();
                        if (min > max)
                            return '输入的范围有误'
                        if (min > 100 || min < 0 || max > 100 || max < 0)
                            return '输入的范围必须是0--100间'
                    }

                });
            })


        });
    </script>


</body>